/*
 * Copyright (c) 2023 Golioth, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c1 {
	zephyr,concat-buf-size = <48>;

	bme280: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
	};
};
