/*
 * Copyright (c) 2023 Golioth, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		golioth-led = &led2;
		sensirion-hal-i2c = &mikrobus_i2c;
	};
};

&mikrobus_i2c {
	status = "okay";

	/* SPS30 max clock frequency is 100 kbit/s */
	clock-frequency = <I2C_BITRATE_STANDARD>;

	bme280: bme280@76 {
		compatible = "bosch,bme280";
		reg = <0x76>;
	};
};
